{% unless template == 'index' %}
<ul class="breadcrumb-list">

  <li class="breadcrumb-item">
    <a href="{{ routes.root_url }}" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  </li>
  {% if template contains 'product' %}

  {% if collection %}
  {% if collection.handle %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  <li class="breadcrumb-item">
    {{ collection.title | link_to: url }}
  </li>
  {% endif %}
  {% endif %}

  <li class="breadcrumb-item">
    <span>{{ product.title | truncate: 30 }}</span>
  </li>

  {% elsif template contains 'collection' and collection.handle %}


  {% if current_tags %}
  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
  <li class="breadcrumb-item">
    {{ collection.title | link_to: url }}
  </li>

  <li class="breadcrumb-item">
    <span>{{ current_tags | join: " + " | replace: "tags_", "#" }}</span>
  </li>
  {% else %}
  <li class="breadcrumb-item">
    <span>{{ collection.title }}</span>
  </li>
  {% endif %}

  {% elsif template == 'blog' %}

  {% if current_tags %}
  <li class="breadcrumb-item">
    {{ blog.title | link_to: blog.url }}
  </li>
  <li class="breadcrumb-item">
    <span>{{ current_tags | join: " + " }}</span>
  </li>
  {% else %}
  <li class="breadcrumb-item">
    <span>{{ blog.title }}</span>
  </li>
  {% endif %}


  {% elsif template == 'article' %}

  <li class="breadcrumb-item">
    {{ blog.title | link_to: blog.url }}
  </li>

  <li class="breadcrumb-item">
    <span>{{ article.title | truncate: 30 }}</span>
  </li>

  {% elsif template contains 'page' %}

  <li class="breadcrumb-item">
    <span>{{ page.title }}</span>
  </li>

  {% else %}

  <li class="breadcrumb-item">
    <span>{{ page_title }}</span>
  </li>

  {% endif %}
</ul>
{% endunless %}
<style>
  ul.breadcrumb-list {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
  }
  ul.breadcrumb-list li {
    position: relative;
  }
  ul.breadcrumb-list li::after{
    content: "\e649";
    font-family: 'themify';
    display: flex;
    align-items: center;
    margin: 0 5px;
    font-size: 10px;
    {%- if settings.enable_rtl -%}
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    {%- endif -%}
  }
  ul.breadcrumb-list li:last-child::after{
    display: none;
  }
  ul.breadcrumb-list li.breadcrumb-item + li.breadcrumb-item {
    padding-left: 0;
  }
  ul.breadcrumb-list li.breadcrumb-item + li.breadcrumb-item::before{
    content: "";
    display: block;
    padding-right: 0;
  }
  ul.breadcrumb-list li a{
    text-transform: uppercase;
    font-size: 13px;
     font-weight: 500;
    color: {{ settings.breadcrumb_title_color }};
  }
  ul.breadcrumb-list li span{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;s
    {% if settings.breadcrumb_main_color %}
    color: {{ settings.breadcrumb_main_color }};
    {% else %}
    color: {{ settings.color_primary }};
    {% endif %}
  }
</style>
