<!-- banner-area start -->
<section class="banner-grid banner1">
    {% for block in section.blocks %}
        <div class="banner-block">
            <a href="{{ block.settings.banner_url }}">
                {% assign banner_alt = block.settings.banner_title | default: shop.name %}
                {% assign banner_image = block.settings.banner_img %}
                {% if banner_image %}
                {% assign banner_image_width = banner_image.width | default: 1080 %}
                {% assign banner_image_height = banner_image.height | default: 600 %}
                {% assign banner_image_src = banner_image | image_url: width: 2048 %}
                <img class="img-fluid" src="{{ banner_image_src }}" alt="{{ banner_alt }}" width="{{ banner_image_width }}" height="{{ banner_image_height }}" loading="lazy">
                {% else %}
                <img class="img-fluid" src="{{ 'placeholder-image.svg' | asset_url }}" alt="{{ banner_alt }}" width="1080" height="600" loading="lazy">
                {% endif %}
            </a>
            <div class="banner-content{% if block.settings.banner_text_position == 'left' %} banner-text-left{% elsif block.settings.banner_text_position == 'right' %} banner-text-right{% else %} banner-text-center{% endif %}{% if block.settings.banner_content_position == 'left' %} banner-content-left{% elsif block.settings.banner_content_position == 'right' %} banner-content-right{% else %} banner-content-center{% endif %}">
                {%if block.settings.banner_title != '' %} 
                <h2>{{ block.settings.banner_title }}</h2>
                {%endif%}

                {%if block.settings.banner_button_text != '' %} 
                <a class="btn btn-style2" href="{{ block.settings.banner_url }}">{{ block.settings.banner_button_text }}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
<!-- banner-area end -->
{% schema %}
{
    "name": "Banner Grid1",
    "settings": [
    {
        "type": "header",
        "content": "Section Padding"
    },
    {
        "type" : "paragraph",
        "content" : "Desktop / Laptop / tablet"
    },
    {
        "type": "range",
        "id": "banner1_padding_top",    
        "label": "Section Padding Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 60
    },           
    {
        "type": "range",
        "id": "banner1_padding_bottom", 
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 60
    },
    {
        "type" : "paragraph",
        "content" : "Mobile"
    },
    {
        "type": "range",
        "id": "banner1_padding_top_xs",    
        "label": "Section Padding Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40
    },           
    {
        "type": "range",
        "id": "banner1_padding_bottom_xs", 
        "label": "Section Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40
    }
    ],
    "blocks":[
    {
        "type": "full_width_banner",
        "name": "Banner Grid",
        "settings": [
        {
            "type": "image_picker",
            "id": "banner_img",
            "label": "Banner BG Image",
            "info": "Recommended Size: 1080px x 600px"
        },
        {
            "type": "paragraph",
            "content": "Banner Title"
        },
        {
            "type": "text",
            "id": "banner_title",
            "label": "Banner Title",
            "default": "Chair Collection"
        },
        {
            "type": "color",
            "id": "banner_title_color",
            "label": "Banner Title Color",
            "default": "#67381a"
        },
        {
            "type": "paragraph",
            "content": "Banner Label"
        },
        {
            "type": "paragraph",
            "content": "Banner Button"
        },
        {
            "type": "text",
            "id": "banner_button_text",
            "label": "Button Text",
            "default": "Shop Now"
        },
        {
            "type": "url",
            "id": "banner_url",
            "label": "Button URL"
        },
        {
            "type": "radio",
            "id": "banner_content_position",
            "label": "Content Position",
            "options": [
            {
                "label": "Content Left",
                "value": "left"
            },
            {
                "label": "Content Right",
                "value": "right"
            },
            {
                "label": "Content Center",
                "value": "center"
            }
            ],
            "default": "left"
        },
        {
            "type": "radio",
            "id": "banner_text_position",
            "label": "Text Position",
            "options": [
            {
                "label": "Text Left",
                "value": "left"
            },
            {
                "label": "Text Right",
                "value": "right"
            },
            {
                "label": "Text Center",
                "value": "center"
            }
            ],
            "default": "left"
        }
        ]
    }
    ],  
    "presets":[
    {
        "name": "Banner Grid1",
        "category": "Banner Grid",
        "blocks":[
        {
            "type": "full_width_banner"
        },
        {
            "type": "full_width_banner"
        }
        ]
    }
    ]
}
{% endschema %}
<style>
    .banner1{
        padding-top: {{ section.settings.banner1_padding_top }}px;
        padding-bottom: {{ section.settings.banner1_padding_bottom }}px;
    }

    @media(max-width: 767px){
        .banner1{
            padding-top: {{ section.settings.banner1_padding_top_xs }}px;
            padding-bottom: {{ section.settings.banner1_padding_bottom_xs }}px;
        }
        .banner-grid.banner1 .nth-child{
            margin-top: 20px;
        }
        .banner-grid.banner1 .nth-child:first-child{
            margin-top: 0px;
        }
    }

    .banner1 .banner-block{
        position: relative;
    }
    .banner-grid.banner1{
        display: flex;
    }
    .banner-grid.banner1 .banner-block{
        width: 50%;
    }
    .banner1 .banner-block .banner-content{
        width: 30%;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
    }
    @media (max-width: 1199px) {
        .banner1 .banner-block .banner-content{
            width: 50%;
        }
    }

    .banner1 .banner-block .banner-content.banner-content-left{
        {%- if settings.enable_rtl -%}
        right: 60px;
        {%- else -%}
        left: 60px;
        {%- endif -%}
    }
    .banner1 .banner-block .banner-content.banner-content-right{
        {%- if settings.enable_rtl -%}
        left: 60px;
        {%- else -%}
        right: 60px;
        {%- endif -%}
    }
    .banner1 .banner-block .banner-content.banner-content-center{
        left: 0px;
        right: 0px;
        margin: 0 auto;
    }
    .banner1 .banner-block .banner-content.banner-text-left{
        {%- if settings.enable_rtl -%}
        text-align: right;
        {%- else -%}
        text-align: left;
        {%- endif -%}
    }
    .banner1 .banner-block .banner-content.banner-text-right{
        {%- if settings.enable_rtl -%}
        text-align: left;
        {%- else -%}
        text-align: right;
        {%- endif -%}
    }
    .banner1 .banner-block .banner-content.banner-text-center{
        text-align: center;
    }
    @media (max-width: 1199px) {
        .banner1 .banner-block .banner-content.banner-content-left{
            {%- if settings.enable_rtl -%}
            right: 15px;
            {%- else -%}
            left: 15px;
            {%- endif -%}
        }
        .banner1 .banner-block .banner-content.banner-content-right{
            {%- if settings.enable_rtl -%}
            left: 15px;
            {%- else -%}
            right: 15px;
            {%- endif -%}
        }
        .banner1 .banner-block .banner-content.banner-content-center{
            left: 15px;
            right: 15px;
            margin: 0 auto;
        }
    }

    /* banner text css */
    .banner1 .banner-block .banner-content h2{
        font-size: 28px;
        font-weight: 700;
        line-height: 1.3;
        letter-spacing: 1px;
        
    }
    .banner1 .banner-block .banner-content a.btn{
        margin-top: 22px;
    }
    @media (max-width: 1199px) {
        .banner1 .banner-block .banner-content h2{
            font-size: 20px;
        }
    }
     @media (max-width: 767px) {
        .banner-grid.banner1 {
            flex-direction: column;
        }
        .banner-grid.banner1 .banner-block{
            width: 100%;
        }
        .banner-grid.banner1 .banner-block:last-child{
            margin-top: 15px
        }
    }
</style>
