<section class="footer-top-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-12 footer-list-wrap">
            <ul class="footer-list">
              <li class="ftlink-li footer-info">
                {%- render 'company-logo-footer' -%}
              </li>
              {% for block in section.blocks %}
              <li class="ftlink-li linklist">
                <ul class="footer-sublist">
                  {% assign footer_menu = block.settings.footer_menu_handle %}
                  {% for link in linklists[footer_menu].links %}
                  {% if linklists[footer_menu].links != '' %}
                  <li class="ftsublink-li">
                    <a href="{{ link.url }}" class="ft-sublink">{{ link.title }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
              <div class="notify-wrap">
                <div class="contact-wrap">
                  <a href="tel:{{ settings.contact1 }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone-call"><path d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path></svg>
                    <span>{{ settings.contact1 }}</span>
                  </a>
                </div>
                <div class="mail-wrap">
                  <a href="mailto:{{ settings.email }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    <span>{{ settings.email }}</span>
                  </a>
                </div>
              </div>
            </ul> 
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-12">
            {%- render 'social-midea' -%}
            <div class="ftlink-li newsletter">
              <div class="newsletter-title">
                <h3>{{ section.settings.newsletter_title }}</h3>
              </div>
              <div class="news-content">
                {% form 'customer' %}
                {{ form.errors | default_errors }}
                {% if form.posted_successfully? %}
                <p class="text-success">
                  <span>{{ settings.newsletter_success_text }}</span>
                  <span>{{ settings.newsletter_coupan_code }}</span>
                </p>
                {% endif %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="subscribe-block">
                  <input type="email" name="contact[email]" class="email mail" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ settings.email_placeholder }}" autocapitalize="off" required>
                  <div class="email-submit">
                    <button type="submit" class="btn btn-style-medium" name="commit" id="Subscribe">
                      {{ settings.email_button }}
                    </button>
                  </div>
                </div>
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type" : "paragraph",
      "content" : "Desktop / Laptop "
    },
    {
      "type": "range",
      "id": "foot_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "foot_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type" : "paragraph",
      "content" : " tablet"
    },
    {
      "type": "range",
      "id": "foot_padding_top_lg",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 70
    },
    {
      "type": "range",
      "id": "foot_padding_bottom_lg",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 70
    },
    {
      "type" : "paragraph",
      "content" : "Mobile"
    },
    {
      "type": "range",
      "id": "foot_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "foot_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 50
    },
    {
      "type": "header",
      "content": "Section Background Image"
    },
    {
      "type": "image_picker",
      "id": "footer_bg_img",
      "label": "Background Image",
      "info": "Recommended Size: 1920 x 770px"
    },
    {
      "type": "checkbox",
      "id": "footer_bg_img_enable",
      "label": "Show Background Image",
      "default": false
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "footer_bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Newsletter Title",
      "default": "Subscribe Newsletter"
    }
  ],
  "blocks":[
    {
      "type": "footer_menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "footer_menu_handle",
          "label": "Select Menu"
        }
      ]
    }
  ]
}
{% endschema %}
<style>
  .footer-top-area{
    {% if section.settings.footer_bg_img_enable %}
    background-image: url('{% if section.settings.footer_bg_img %}{{ section.settings.footer_bg_img | image_url: width: 2048 }}{% else %}{{ 'placeholder-image.svg' | asset_url }}{% endif %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    {% else %}
    background-color: {{ section.settings.footer_bg_color }};
    {% endif %}
  }
  .footer-top-area{
    padding-top: {{ section.settings.foot_padding_top }}px;
    padding-bottom: {{ section.settings.foot_padding_bottom }}px;
  }
  @media (max-width : 1199px){
    .footer-top-area{
      padding-top: {{ section.settings.foot_padding_top_lg }}px;
      padding-bottom: {{ section.settings.foot_padding_bottom_lg }}px;
    }
  }
  @media (max-width : 767px){
    .footer-top-area {
      padding-top: {{ section.settings.foot_padding_top_xs }}px;
      padding-bottom: {{ section.settings.foot_padding_bottom_xs }}px;
    }
  }

  /* footer-info css */
  .footer-info-wrap ul.footer-info li.logo p{
    margin-top: 17px;
    color: #999;
  }
  @media (max-width : 1199px){
    .footer-info-wrap ul.footer-info li.logo p{
      font-size: 14px;
      width: 100%;
    }
  }

  /* footer-list css */
  .footer-list-wrap ul.footer-list li.ftlink-li.linklist{
    margin-top: 22px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist {
    width: 85%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -5px;
    {% if settings.enable_rtl %}
    margin-right: -30px;
    {% else %}
    margin-left: -30px;
    {% endif %}
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li {
    position: relative;
    {% if settings.enable_rtl %}
    padding-right: 15px;
    margin-right: 30px;
    {% else %}
    padding-left: 15px;
    margin-left: 30px;
    {% endif %}
    margin-top: 5px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li:last-child{
    {% if settings.enable_rtl %}
    padding-left: 0px;
    {% else %}
    padding-right: 0px;
    {% endif %}
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li:after{
    content: '';
    position: absolute;
    transform: translateY(50%);
    bottom: 50%;
    {% if settings.enable_rtl %}
    right: 0px;
    {% else %}
    left: 0px;
    {% endif %}
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
    color: #ccc;
    font-size: 16px;
    position: relative;
    font-family: 'Hind Siliguri', sans-serif;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a:hover{
    color: #fff;
  }
  .footer-list-wrap .notify-wrap{
    margin-top: 17px;
    display: flex;
  }
  .footer-list-wrap .notify-wrap .mail-wrap{
    {% if settings.enable_rtl %}
    margin-right: 30px;
    {% else %}
    margin-left: 30px;
    {% endif %}    
  }
  .footer-list-wrap .notify-wrap .mail-wrap a,
  .footer-list-wrap .notify-wrap .contact-wrap a{
    color: #ccc;
  }
  .footer-list-wrap .notify-wrap .mail-wrap a:hover,
  .footer-list-wrap .notify-wrap .contact-wrap a:hover{
    color: #fff;  
  }
  .footer-list-wrap .notify-wrap a svg{
    {% if settings.enable_rtl %}
     margin-left: 10px;
    {% else %}
     margin-right: 10px;
    {% endif %}
   
  }
  @media(max-width: 1199px){
    .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist{
      width: auto;
    }
  }
  @media(max-width: 991px){
    .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
      font-size: 16px;
    }
    .footer-list-wrap .notify-wrap{
      flex-direction: column;
    }
    .footer-list-wrap .notify-wrap .mail-wrap{
      {% if settings.enable_rtl %}
      margin-right: 0px;
      {% else %}
      margin-left: 0px;
      {% endif %}
      padding-top: 5px;
    }
  }
  @media(max-width: 767px){
    .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist {
      {% if settings.enable_rtl %}
      margin-left: -15px;
      {% else %}
      margin-right: -15px;
      {% endif %}
    }
    .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li {
      {% if settings.enable_rtl %}
      margin-left: 15px;
      {% else %}
      margin-right: 15px;
      {% endif %}
    }
    .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
      font-size: 15px;
    }
  }

  /* newsletter */
  .footer-top-area .ftlink-li.newsletter {
    margin-top: 27px;
  }
  .footer-top-area .ftlink-li.newsletter .newsletter-title h3{
    font-size: 30px;
    line-height: 1;
    color: #fff;
    font-weight: 500;
    font-family: 'Hind Siliguri', sans-serif;
  }
  .footer-top-area .ftlink-li.newsletter .news-content{
    margin-top: 24px;
  }
  .footer-top-area .ftlink-li.newsletter .subscribe-block{
    position: relative;
  }
  .footer-top-area .ftlink-li.newsletter .subscribe-block input{
    width: 100%;
    height: 50px;
  }
  .footer-top-area .ftlink-li.newsletter .subscribe-block .email-submit button{
    position: absolute;
    {% if settings.enable_rtl %}
    left: 0;
    {% else %}
    right: 0;
    {% endif %}
    top: 0;
  }
  .footer-top-area .ftlink-li.newsletter .subscribe-block .email-submit button:hover{
    opacity: .9;
    border-color: {{ settings.color_primary }};
    background-color: {{ settings.color_primary }};
  }
  @media(max-width: 1199px){
    .footer-top-area .ftlink-li.newsletter .newsletter-title h3{
      font-size: 24px;
    }
  }
  @media(max-width: 767px){
    .footer-top-area .ftlink-li.newsletter .subscribe-block{
      width: 100%;
    }
    .footer-top-area .ftlink-li.newsletter .newsletter-title h3{
      font-size: 20px;
    }
    .footer-top-area .ftlink-li.newsletter .subscribe-block input{
      height: 44px;
    }
  }
  /* social media */
  .footer-top-area ul.social-icon{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  @media(max-width: 767px){
    .footer-top-area ul.social-icon{
      margin-top: 30px;
    }
  }
</style>