<!-- header-area start -->
<section class="header6">
  <div class="header-kaj">
    <div class="header-area">
      <div class="container-fluid container-col">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-12 unpos-col">
            <div class="header-main">
              <div class="header-element logo">
                {%- if settings.company_logo -%}
                <a href="{{ routes.root_url }}" class="theme-logo">
                  {% if settings.company_logo %}
                  {% assign header_logo_alt = settings.company_logo.alt | default: shop.name %}
                  {{ settings.company_logo | image_url: width: 560 | image_tag: width: 280, widths: '180,200,220,240,260,280,320', class: 'header-logo', alt: header_logo_alt, loading: 'eager' }}
                  {% else %}
                  <img src="{{ 'placeholder-image.svg' | asset_url }}" alt="{{ shop.name }}" width="207" height="44" class="header-logo" loading="eager">
                  {% endif %}
                </a>
                {%- else -%}
                <a href="{{ routes.root_url }}" class="shop-name">
                  <span>{{ shop.name }}</span>
                </a>
                {%- endif -%}
              </div>
              <div class="header-element megamenu-content">
                <div class="mainwrap">
                  <ul class="main-menu">
                    {% assign header_main_menu = section.settings.header_main_menu %}
                    {% if header_main_menu and linklists[header_main_menu] %}
                    {% for link in linklists[header_main_menu].links %}
                    {% render 'main-menu', link: link %}
                    {% endfor %}
                    {% endif %}
                  </ul>
                </div>
              </div>
              <div class="header-element right-block-box">
                <ul class="shop-element">
                  <li class="side-wrap toggler-wrap">
                    <button class="navbar-toggler" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
                    </button>
                  </li>
                  <li class="side-wrap search-wrap">
                    <div class="search-rap">
                      <a class="search-crap" data-toggle="modal" href="#search-crap">
                        <span class="search-title">{{ settings.search_title }}</span>                        
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                      </a>
                    </div>
                  </li>
                  <li class="side-wrap currency-wrap">
                      {%- render 'bold-currency-picker-mount', openDirection: 'up' -%}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom-area">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="main-menu-area">
            <nav class="main-navigation navbar-expand-xl">
              <div class="box-header">
                <button class="close-box" type="button"><i class="ti-close"></i></button>
              </div>
              <div class="navbar-collapse" id="navbarContent">
                <div class="megamenu-content">
                  <a href="javascript:void(0)" class="browse-cat">
                    <i class="ti-menu"></i>
                    <span>{{ section.settings.header_main_menu_title }}</span>
                  </a>
                  <div class="mainwrap">
                    <ul class="main-menu">
                      {% assign header_main_menu = section.settings.header_main_menu %}
                      {% if header_main_menu and linklists[header_main_menu] %}
                      {% for link in linklists[header_main_menu].links %}
                      {% render 'main-menu', link: link %}
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- render 'search-modal' -%}
<!-- header-area end -->
<script>
  {% if template == 'index' or template == 'product' or template == 'collection' %}
  $(window).scroll(function() {
    var sticky = $('.header-kaj'),
    scroll = $(window).scrollTop();
    if (scroll >= 150) {
      sticky.addClass('is-sticky');
    }
    else {
      sticky.removeClass('is-sticky');
    }
  });
  {% endif %}
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo Notice"
    },
    {
      "type": "paragraph",
      "content": "For logo go to 'Theme Settings' click on 'Company Logo' & set both Header-Footer Logo"
    },
    {
      "type": "header",
      "content": "Section Background Color"
    },
    {
      "type": "color",
      "id": "header_bg_color",
      "label": "Background Color",
      "default": "#fff"
    },
    {
      "type": "checkbox",
      "id": "header_bg_color_enable",
      "label": "Show Background Color",
      "default": true
    },
    {
      "type": "header",
      "content": "Main Menu"
    },
    {
      "type" : "paragraph",
      "content" : "For main menu"
    },
    {
      "type": "link_list",
      "id": "header_main_menu",
      "label": "Select Main Menu"
    },
    {
      "type" : "paragraph",
      "content" : "Mainmenu title for responsive"
    },
    {
      "type": "text",
      "id": "header_main_menu_title",
      "label": "Title",
      "default": "Menu"
    },
    {
      "type": "header",
      "content": "Search Bar"
    },
    {
      "type": "text",
      "id": "search_placeholder",
      "label": "Search Placeholder",
      "default": "Search Our Catalog"
    }
  ]
}
{% endschema %}
<style>
  .header-area .container-col{
    padding-left: 45px;
    padding-right: 45px;
  }
  @media(max-width: 1199px){
    .header-area .container-col{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  @media(max-width: 767px){
    .header-area .container-col{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  /* sticky menu css */
  .is-sticky{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: #fff;
    -webkit-box-shadow: rgba(116,116,116,.05) 0 0px 0px 0px, rgba(32,32,32,.05) 0 4px 10px;
    -moz-box-shadow: rgba(116,116,116,.05) 0 0px 0px 0px, rgba(32,32,32,.05) 0 4px 10px;
    box-shadow: rgba(116,116,116,.05) 0 0px 0px 0px, rgba(32,32,32,.05) 0 4px 10px;
  }
  .box-layout .header-kaj.is-sticky {
    max-width: 1500px;
    margin: 0 auto;
  }
  .header-kaj.is-sticky .header-area{
    position: unset;
  }
  .header-kaj.is-sticky{
    animation: smoothScroll 1s forwards;
  }
  @keyframes smoothScroll {
    0% {
      transform: translateY(-150px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  {% if section.settings.header_bg_color_enable %}
  .header-area {
    background-color: {{ section.settings.header_bg_color }};
  }
  {% endif %}
  @media (max-width: 1199px) {
    .right-block-box ul.shop-element li.side-wrap{
      {% if settings.enable_rtl %}
      margin-left: 15px;
      {% else %}
      margin-right: 15px;
      {% endif %}
    }
  }
  /* currency css */
  .currency-wrap{
    display: flex;
    align-items: center;
  }
  .currency-wrap .BOLD-mc-picker {
    height: auto;
  }
  .currency-wrap .BOLD-mc-picker.open {
    width: auto;
  }
  .currency-wrap .BOLD-mc-picker > .currencyList > .option:hover {
    color: #222;
  }
  .currency-wrap .BOLD-mc-picker > .currentCurrency{
    font-size: 15px;
    color: #999;
    {% if settings.enable_rtl %}
    padding: 0 0 0 20px;
    {% else %}
    padding: 0 20px 0 0;
    {% endif %}
    width: auto;
    position: relative;
    border: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .currency-wrap .BOLD-mc-picker > .currentCurrency:hover{
    color: #222;
  }
  .currency-wrap .BOLD-mc-picker > .currentCurrency,
  .currency-wrap .BOLD-mc-picker > .currencyList > .option {
    height: auto;
    background-color: transparent;
    line-height: normal;
    box-shadow: none;
  }
  .currency-wrap .BOLD-mc-picker > .currentCurrency > .chevron {
    {% if settings.enable_rtl %}
    left: 5px;
    margin-right: 0;
    {% else %}
    right: 5px;
    margin-left: 0;
    {% endif %}
    top: 50%;    
    display: none;
  }
  .currency-wrap .BOLD-mc-picker > .currentCurrency::after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 18px;
    line-height: 1;
    position: absolute;
    {% if settings.enable_rtl %}
    left: 0;
    {% else %}
    right: 0;
    {% endif %}
    bottom: 50%;
    transform: translateY(50%);
  }
  .currency-wrap .BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList {
    top: calc(100% + 13px);
    bottom: auto;
  }
  .currency-wrap .BOLD-mc-picker-mnt[data-open="down"] > .BOLD-mc-picker > .currencyList {
    bottom: auto;
    top: 31px;
  }  
  .currency-wrap .BOLD-mc-picker > .currencyList::-webkit-scrollbar {
    width: 1px;
    background-color: #e2e2e2;
  }
  .currency-wrap .BOLD-mc-picker > .currencyList {
    display: block!important;
    {% if settings.enable_rtl %}
    right: auto;
    left: 0;
    {% else %}
    left: auto;
    right: 0;
    {% endif %}
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    padding: 0;
    background-color: #fff;
    max-height: 0;
    z-index: 3;
    border: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: rgb(116 116 116 / 5%) 0 0px 0px 0px, rgb(32 32 32 / 5%) 0 4px 10px;
  }
  .currency-wrap .BOLD-mc-picker.open > .currencyList{
    max-height: inherit;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .currency-wrap .BOLD-mc-picker > .currencyList > .option {
    color: #999;
    font-size: 13px;
    padding: 8px 15px;
    width: 100%;
    margin-top: -1px;
    border: none;
    {% if settings.enable_rtl %}
    text-align: right;
    {% endif %}
  }
  .currency-wrap .BOLD-mc-picker > .currencyList > .option:first-child{
    margin-top: 0;
  }
  .currency-wrap .BOLD-mc-picker > .currentCurrency > .flag,
  .currency-wrap .BOLD-mc-picker > .currencyList > .option > .flag{
    display: none;
  }
  @media(max-width: 1199px){
    .currency-wrap .BOLD-mc-picker-mnt[data-open="up"] > .BOLD-mc-picker > .currencyList{
      top: calc(100% + 10px);
    }
  }

  @media(max-width: 767px){
    .search-rap a .search-title{
      display: none;
    }
  }

</style>
