<section class="insta-wrap">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                {% if section.settings.section_title !='' %}
                <div class="section-capture">
                    <div class="section-title">
                        {% if section.settings.section_title !='' %}
                        <h2>
                            {{ section.settings.section_title }}
                        </h2>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="owl-carousel owl-theme" id="insta-slider">
                    {% for block in section.blocks %}
                    <div class="item">
                        <a class="insta-content banner-hover" href="{{ block.settings.insta_url}}">
                            <img src="{% if block.settings.insta_img %}{{ block.settings.insta_img | img_url: 'master' }}{% else %}https://dummyimage.com/320x320/f7f7f7/999999{% endif %}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<script>
    $('#insta-slider').owlCarousel({
        loop:true,
        margin:30,
        items:8,
        {%- if settings.enable_rtl -%}
        rtl: true,
        {%- else -%}
        fade: true,
        {%- endif -%}
        nav: false,
        navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
        lazyLoad: true,
        dots: false,
        responsive:{
            0:{
                items: 2,
                margin: 15
            },
            479:{
                items: 3,
                margin: 15
            },
            768:{
                items: 4
            },
            979:{
                items: 5
            },
            1199: {
                items: 5
            }
        }
    })
</script>
{% schema %}
{
    "name": "Instagram Slider New",
    "settings": [
        {
            "type": "header",
            "content": "Section Padding"
        },
        {
            "type" : "paragraph",
            "content" : "Desktop / Laptop / tablet"
        },
        {
            "type": "range",
            "id": "section_padding_top",
            "label": "Section Padding Top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 100
        },
        {
            "type": "range",
            "id": "section_padding_bottom",
            "label": "Section Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 100
        },
        {
            "type" : "paragraph",
            "content" : "tablet"
        },
        {
            "type": "range",
            "id": "section_padding_top_lg",
            "label": "Section Padding Top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 70
        },
        {
            "type": "range",
            "id": "section_padding_bottom_lg",
            "label": "Section Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 70
        },
        {
            "type" : "paragraph",
            "content" : "Mobile"
        },
        {
            "type": "range",
            "id": "section_padding_top_xs",
            "label": "Section Padding Top",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 50
        },
        {
            "type": "range",
            "id": "section_padding_bottom_xs",
            "label": "Section Padding Bottom",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "default": 50
        },
        {
            "type" : "header",
            "content" : "Section Title"
        },
        {
            "type": "text",
            "id": "section_title",
            "label": "Title",
            "default": "Instagram Feed"
        },
        {
            "type" : "header",
            "content" : "Section Background Color"
        },
        {
            "type" : "color",
            "id" : "insta_bgcolor",
            "label" : "Background Color",
            "default" : "#fff"
        },
        {
            "type" : "checkbox",
            "id" : "insta_check",
            "label" : "With Backgorund",
            "default" : true
        }
    ],
    "name": "instagram slider",
    "blocks":[
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "insta_img",
                    "label": "Image",
                    "info": "Recommended Size: 110px x 110px"
                },
                {
                    "type": "url",
                    "id": "insta_url",
                    "label": "Banner URL"
                }
            ]
        }
    ],
    "presets":[
        {
            "name": "Instagram Slider New",
            "category": "Instagram"
        }
    ]
}
{% endschema %}
<style type="text/css">
    .insta-wrap {
        padding-top:{{ section.settings.section_padding_top }}px;
        padding-bottom:{{ section.settings.section_padding_bottom }}px;
        {% if section.settings.insta_check %}
        background-color: {{ section.settings.insta_bgcolor }};
        {% endif %}
    }
    @media (max-width: 1199px) {
        .insta-wrap {
            padding-top:{{ section.settings.section_padding_top_lg }}px;
            padding-bottom:{{ section.settings.section_padding_bottom_lg }}px;
        }
    }
    @media (max-width: 767px) {
        .insta-wrap {
            padding-top:{{ section.settings.section_padding_top_xs }}px;
            padding-bottom:{{ section.settings.section_padding_bottom_xs }}px;
        }
    }
    .insta-content:hover:after{
        opacity: 1;
        visibility: visible;
    }
    .insta-content.banner-hover:before{
        background-color: {{ settings.color_secondary | color_modify: 'alpha', 0.5 }};
    }
    .insta-content:after{
        content: '\f16d';
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        font: normal normal normal 24px/1 FontAwesome;
    }
</style>