<div class="password-content">
  {% if section.settings.logo %}
        <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image">
      {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
      <img loading="lazy"
          src="{{ section.settings.logo | image_url: width: section.settings.logo_max_width }}"
          alt="{{ logo_alt | escape }}"
          width="{{ section.settings.logo.width | default: section.settings.logo_max_width }}"
          height="{{ section.settings.logo.height | default: section.settings.logo_max_width }}"
          style="max-width: {{ section.settings.logo_max_width }}px">
      <noscript>
        <img src="{{ section.settings.logo | image_url: width: section.settings.logo_max_width }}"
            alt="{{ section.settings.logo.alt | default: shop.name }}"
            itemprop="logo"
            style="max-width: {{ section.settings.logo_max_width }}px;"
            width="{{ section.settings.logo.width | default: section.settings.logo_max_width }}"
            height="{{ section.settings.logo.height | default: section.settings.logo_max_width }}">
      </noscript>
    </a>
  {% else %}
    <h1 class="site-header__logo-link">
      <span class="logo">{{ shop.name }}</span>
    </h1>
  {% endif %}

  <span class="h2 password-content__title">{{ section.settings.header | escape }}</span>
</div>


{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width",
      "min": 50,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming soon"
    }
  ]
}
{% endschema %}
